<%= form_for @profile do |s| %>
	<span>New profile:</span>
	First name: <%= s.text_field :firstname %>
    Last name: <%= s.text_field :lastname %>
	Gender: <%= s.text_field :gender %>
	Price: <%= s.text_field :price %>
	<%= s.submit %>	
<% end %>