<%= form_for @profile do |s| %>
	<span>New profile:</span>
	First name: <%= s.text_field :brand %>
    Last name: <%= s.text_field :brand %>
	Gender: <%= s.text_field :model %>
	Price: <%= s.text_field :price %>
	<%= s.submit %>	
<% end %>